#flexHead{
    display: flex;
    justify-content: space-between;


}

.buttonStyle{
    display: inline;
    width: 70px;
    height: 20px;
    background: orange;
    border-radius: 5px;
}


#openButton1{



}

.popup{
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.popupContent{
    height: 250px;
    width: 500px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;

}

.close{
    
    top:-15px;
    right:-15px;
    background-color: gray;
    height: 20px;
    text-align: center;
    width: 60px;
    border-radius: 5px;
    cursor: pointer;
}